* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;
}

body {
  background: $background;
}


/*main {
    max-width: min(1350px, calc(100% - 3rem));
    flex: 1;
    padding: 4rem 0;
}*/
